version: 2.1
executors:
  docker-publisher: 
    docker:
      - image: docker:stable
jobs:
  build:
    executor: docker-publisher
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install Docker Compose
          environment:
            COMPOSE_VERSION: '1.29.2'
          command: |
            apk update && apk add curl curl-dev
            curl -L "https://github.com/docker/compose/releases/download/${COMPOSE_VERSION}/docker-compose-$(uname -s)-$(uname -m)" -o ~/docker-compose
            chmod +x ~/docker-compose
            sudo mv ~/docker-compose /usr/local/bin/docker-compose
      - run:
          name: Build Docker image
          command: docker-compose -f docker-compose-build.yaml build --parallel
      - run:
          name: setup tags for udagram-api-user
          command: docker tag udagram-api-user achilis/udagram-api-user
      - run:
          name: setup tags for udagram-api-feed
          command: docker tag udagram-api-feed achilis/udagram-api-feed
      - run:
          name: setup tags for reverseproxy
          command: docker tag reverseproxy achilis/reverseproxy
      - run:
          name: setup tags for udagram-frontend
          command: docker tag udagram-frontend achilis/udagram-frontend
      - deploy:
          name: Push application Docker image
          command: |
            docker login -u $DOCKERHUB_LOGIN -p $DOCKERHUB_PASSWORD
            docker push achilis/udagram-api-user
            docker push achilis/udagram-api-feed
            docker push achilis/reverseproxy
            docker push achilis/udagram-udaram-frontend
workflows:
  version: 2
  build-push:
    jobs:
      - build:
          filters:
            branches:
              only: main