version: 2.1
jobs:
  build:
    docker:
      - image: cimg/base:2022.06
        auth:
          username: $DOCKERHUB_LOGIN
          password: $DOCKERHUB_PASSWORD  # context / project UI env-var reference
    steps:
      # ... steps for building/testing app ...
      - checkout
      - setup_remote_docker:
          version: 20.10.14
      - run:
          name: Build Docker image
          command: docker-compose -f docker-compose-build.yaml build --parallel
      - run:
          name: setup tags for udagram-api-user
          command: docker tag udagram-api-user achilis/udagram-api-user
      - run:
          name: setup tags for udagram-api-feed
          command: docker tag udagram-api-feed achilis/udagram-api-feed
      - run:
          name: setup tags for reverseproxy
          command: docker tag reverseproxy achilis/reverseproxy
      - run:
          name: setup tags for udagram-frontend
          command: docker tag udagram-frontend achilis/udagram-frontend
      - deploy:
          name: Push application Docker image
          command: |
            docker login -u $DOCKERHUB_LOGIN -p $DOCKERHUB_PASSWORD
            docker push achilis/udagram-api-user
            docker push achilis/udagram-api-feed
            docker push achilis/reverseproxy
            docker push achilis/udagram-frontend
workflows:
  version: 2
  build-push:
    jobs:
      - build:
          filters:
            branches:
              only: main